:root {
  --font-family: "VelaSans", sans-serif;
  --content-width: 1420px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --content-inner-width: 1180px;
  --container-inner-width: calc(var(--content-inner-width) + (var(--container-offset) * 2));
  --main-color: #a0aec0;
  --black: #251725;
  --white: #fff;
  --pink: #e488cc;
  --background: #f4f6ff;
  --grey: #718096;
  --dark-grey: #2d3748;
  --light-gray: #cbd5e4;
  --violent: #df87f1;
  --green: #219f70;
  --icon: #8055bb;
  --dark-violent: #af56ff;
  --green: #a1c665;
  --green-dark-blue: #1288aa;
  --violent-dark-background: #e9f;
  --green-light: #2de4a0;
  --blue-light: #74c5ff;
  --blue: #1a9fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "VelaSans";
  src: url("../fonts/../fonts/VelaSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "VelaSans";
  src: url("../fonts/../fonts/VelaSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "VelaSans";
  src: url("../fonts/../fonts/VelaSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "VelaSans";
  src: url("../fonts/../fonts/VelaSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "VelaSans";
  src: url("../fonts/../fonts/VelaSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea {
  font-family: var(--font-family, sans-serif);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

button,
button:focus,
button:active {
  -webkit-tap-highlight-color: transparent;
}

a,
a:active {
  -webkit-tap-highlight-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

html,
body {
  height: 100%;
  min-width: 20rem;
}

body {
  color: var(--main-color);
  line-height: 1;
  font-family: var(--font-family, sans-serif);
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

.grayfilter {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.7;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

body._lock {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-inner-width);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.button {
  position: relative;
  padding: 0px 0.4375rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 6px;
  background: linear-gradient(10deg, #df87f1 0%, #219f70 100%);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  font-size: 0.75rem;
  -webkit-transition: background 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease;
  z-index: 4;
}
.button:before {
  border-radius: inherit;
  background: linear-gradient(10deg, #219f70 0%, #df87f1 100%);
  background: linear-gradient(10deg, #df87f1 30%, #219f70 100%);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.button:focus-visible {
  outline: 2px solid var(--icon);
}
.button:active {
  outline: none;
}
@media (any-hover: hover) {
  .button:hover::before {
    opacity: 1;
  }
}
.button--transparent {
  border: 1px solid var(--main-color);
  background: transparent;
  color: var(--main-color);
  -webkit-transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.button--transparent::before {
  display: none;
}
.button--transparent:focus-visible {
  outline: 2px solid var(--icon);
}
.button--transparent:active {
  color: var(--pink);
  color: var(--pink);
  border: 1px solid var(--pink);
}
.button--transparent:active svg {
  fill: var(--pink);
}
@media (any-hover: hover) {
  .button--transparent:hover {
    color: var(--pink);
    border: 1px solid var(--pink);
  }
  .button--transparent:hover svg {
    fill: var(--pink);
  }
}
.button--white {
  border: none;
  background: var(--white);
  color: var(--dark-grey);
  -webkit-transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.button--white::before {
  display: none;
}
.button--white:focus-visible {
  outline: 2px solid var(--icon);
}
.button--white:active {
  color: var(--pink);
}
@media (any-hover: hover) {
  .button--white:hover {
    color: var(--pink);
  }
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 110%;
  color: var(--black);
  -webkit-transform: translate(0px, 1.875rem);
  -ms-transform: translate(0px, 1.875rem);
  transform: translate(0px, 1.875rem);
  opacity: 0;
}
@media (max-width: 48em) {
  .title {
    font-size: 1.875rem;
  }
}

.title.loaded {
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  opacity: 1;
}

.title.loaded {
  -webkit-transition: opacity 1.4s ease, -webkit-transform 1.4s ease;
  transition: opacity 1.4s ease, -webkit-transform 1.4s ease;
  transition: transform 1.4s ease, opacity 1.4s ease;
  transition: transform 1.4s ease, opacity 1.4s ease, -webkit-transform 1.4s ease;
}

.mb-title {
  margin-bottom: 2.5rem;
}

.section-offset {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}
@media (max-width: 48em) {
  .section-offset {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}

.logo {
  width: 6.25rem;
}
.logo img {
  width: 100%;
}
.logo:focus-visible {
  outline: 2px solid var(--icon);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.75);
}
@media (min-width: 62.0625em) {
  .header {
    -webkit-transform: translate(0px, -1.875rem);
    -ms-transform: translate(0px, -1.875rem);
    transform: translate(0px, -1.875rem);
    opacity: 0;
    -webkit-transition: opacity 1.4s ease, -webkit-transform 1.4s ease;
    transition: opacity 1.4s ease, -webkit-transform 1.4s ease;
    transition: transform 1.4s ease, opacity 1.4s ease;
    transition: transform 1.4s ease, opacity 1.4s ease, -webkit-transform 1.4s ease;
  }
  .header.loaded {
    -webkit-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
    opacity: 1;
  }
}
.header__body {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 1.25rem;
  min-height: 5.625rem;
  -webkit-transition: min-height 0.3s ease, background 0.3s ease;
  transition: min-height 0.3s ease, background 0.3s ease;
}
@media (max-width: 62em) {
  .header__body {
    min-height: 3.4375rem;
    -webkit-column-gap: 0.625rem;
    -moz-column-gap: 0.625rem;
    column-gap: 0.625rem;
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
.menu__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 62em) {
  .menu__body {
    padding: 6.25rem 0.9375rem 1.5625rem 0.9375rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #fff;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.4375rem;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
}
@media (min-width: 62.0625em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
    row-gap: 0.3125rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}
@media (max-width: 75em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
}
@media (max-width: 62em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 0.9375rem;
  }
}
.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: var(--pink);
  }
  .menu__item:hover .menu__arrow-icon {
    stroke: var(--pink);
  }
}
@media (min-width: 62.0625em) {
  .menu__item.active .menu__sub-list {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__item.active .menu__arrow-icon {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    stroke: var(--pink);
  }
  .menu__item.active .menu__link {
    color: var(--pink);
  }
}
.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.menu__link:focus-visible {
  outline: 2px solid var(--icon);
}
@media (max-width: 75em) {
  .menu__link {
    gap: 0.25rem;
  }
}
@media (max-width: 62em) {
  .menu__link {
    font-size: 1.5rem;
    font-weight: 600;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 62em) {
  ._init .menu__link._active .menu__arrow-icon {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    stroke: var(--pink);
  }
}
.menu__arrow-icon {
  pointer-events: none;
  width: 0.5625rem;
  height: 0.4375rem;
  fill: none;
  stroke-width: 1.12px;
  stroke: var(--main-color);
  -webkit-transition: stroke 0.3s ease, -webkit-transform 0.3s ease;
  transition: stroke 0.3s ease, -webkit-transform 0.3s ease;
  transition: stroke 0.3s ease, transform 0.3s ease;
  transition: stroke 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (max-width: 62em) {
  .menu__arrow-icon {
    width: 1.25rem;
    height: 1rem;
  }
}
.menu__sub-list {
  padding: 0.9375rem;
  position: relative;
  background: linear-gradient(10deg, #df87f1 0%, #219f70 100%);
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
@media (min-width: 62.0625em) {
  .menu__sub-list {
    padding: 0.625rem;
    pointer-events: none;
    min-width: 12.5rem;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    border-radius: 8px;
    opacity: 0;
    -webkit-transform: translate(0, 0.625rem);
    -ms-transform: translate(0, 0.625rem);
    transform: translate(0, 0.625rem);
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}
@media (max-width: 62em) {
  .menu__sub-list {
    margin: 0.625rem -0.9375rem 0 -0.9375rem;
  }
}
.menu__sub-item:not(:last-child) {
  margin: 0 0 0.3125rem 0;
}
@media (max-width: 62em) {
  .menu__sub-item:not(:last-child) {
    margin: 0 0 0.625rem 0;
  }
}
.menu__sub-link {
  color: #fff;
  line-height: 120%;
  font-size: 0.8125rem;
}
@media (any-hover: hover) {
  .menu__sub-link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 62em) {
  .menu__sub-link {
    font-size: 1.125rem;
  }
}
.menu__actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
  grid-template-columns: repeat(3, auto);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem;
}
@media (max-width: 62em) {
  .menu__actions {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}
@media (max-width: 36em) {
  .menu__actions {
    -ms-grid-row-align: end;
    align-self: end;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.menu__action {
  height: 2.5rem;
}
@media (max-width: 48em) {
  .menu__action {
    height: 2.8125rem;
  }
}
.menu__action--languages {
  min-width: 2.5rem;
}
.menu__action-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--main-color);
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.menu__action--login {
  min-width: 7.5rem;
}
.menu__action--register {
  min-width: 10rem;
}

.icon-menu {
  display: none;
}
@media (max-width: 62em) {
  .icon-menu {
    position: relative;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1.875rem;
    flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.hero {
  position: relative;
  padding-top: 11.25rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 62em) {
  .hero {
    padding-top: 9.375rem;
  }
}
@media (max-width: 48em) {
  .hero {
    padding-top: 5.625rem;
    padding-bottom: 1.25rem;
  }
}
.hero__main {
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 48em) {
  .hero__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}
.hero__content {
  padding-right: 6.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 2.5rem;
}
@media (max-width: 62em) {
  .hero__content {
    padding-right: 3.125rem;
    row-gap: 1.875rem;
  }
}
@media (max-width: 48em) {
  .hero__content {
    padding-right: 0;
    margin-bottom: 3.125rem;
    row-gap: 1.5625rem;
  }
}
.hero__title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 110%;
  -webkit-transform: translate(0px, 1.875rem);
  -ms-transform: translate(0px, 1.875rem);
  transform: translate(0px, 1.875rem);
  opacity: 0;
  -webkit-transition: opacity 1.4s ease, -webkit-transform 1.4s ease;
  transition: opacity 1.4s ease, -webkit-transform 1.4s ease;
  transition: transform 1.4s ease, opacity 1.4s ease;
  transition: transform 1.4s ease, opacity 1.4s ease, -webkit-transform 1.4s ease;
  color: var(--black);
}
.hero__title.loaded {
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  opacity: 1;
}
@media (max-width: 62em) {
  .hero__title {
    font-size: 2.25rem;
  }
}
@media (max-width: 48em) {
  .hero__title {
    font-size: 2.25rem;
  }
}
.hero__title-color {
  background: linear-gradient(62deg, #df87f1 0%, #259e73 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 48em) {
  .hero__title-color {
    display: block;
  }
}
.hero__text {
  max-width: 29.6875rem;
  font-size: 1rem;
  line-height: 140%;
  -webkit-transform: translate(0px, 1.875rem);
  -ms-transform: translate(0px, 1.875rem);
  transform: translate(0px, 1.875rem);
  opacity: 0;
}
.hero__text.loaded {
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: opacity 1.6s ease 0.5s, -webkit-transform 1.6s ease 0.5s;
  transition: opacity 1.6s ease 0.5s, -webkit-transform 1.6s ease 0.5s;
  transition: transform 1.6s ease 0.5s, opacity 1.6s ease 0.5s;
  transition: transform 1.6s ease 0.5s, opacity 1.6s ease 0.5s, -webkit-transform 1.6s ease 0.5s;
}
@media (max-width: 91.25em) {
  .hero__text {
    max-width: 31.25rem;
  }
}
@media (max-width: 48em) {
  .hero__text {
    max-width: 25rem;
  }
}
.hero__action {
  width: 13.75rem;
  height: 4rem;
  opacity: 0;
}
.hero__action.loaded {
  opacity: 1;
  -webkit-transition: opacity 1.7s ease 1s;
  transition: opacity 1.7s ease 1s;
}
@media (max-width: 62em) {
  .hero__action {
    height: 3.75rem;
  }
}
@media (max-width: 48em) {
  .hero__action {
    width: 100%;
    height: 3.4375rem;
  }
}
.hero__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40.5%;
  flex: 0 0 40.5%;
}
.hero__image img {
  width: 100%;
}
@media (max-width: 48em) {
  .hero__image {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    max-width: 90%;
  }
}

.advantages__list {
  padding: 1.125rem 0;
  border-radius: 6px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
  background: #f4f6ff;
}
@media (max-width: 36em) {
  .advantages__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0.9375rem;
    -webkit-column-gap: 0.9375rem;
    -moz-column-gap: 0.9375rem;
    column-gap: 0.9375rem;
  }
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 0.3125rem;
}
.advantages__item:not(:last-child) {
  border-right: 1px solid #ccd3f5;
}
@media (max-width: 36em) {
  .advantages__item {
    padding: 0.625rem 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .advantages__item:not(:last-child) {
    border-right: none;
  }
  .advantages__item:nth-child(1), .advantages__item:nth-child(2) {
    border-bottom: 1px solid #ccd3f5;
  }
}
.advantages__item-content {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 130%;
  color: var(--black);
  max-width: 9.6875rem;
}
.advantages__item-content span {
  display: block;
}
@media (max-width: 62em) {
  .advantages__item-content {
    font-size: 0.8125rem;
  }
}
@media (max-width: 36em) {
  .advantages__item-content {
    font-size: 0.75rem;
    max-width: 100%;
    text-align: start;
  }
}

.howitworks__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(6.25rem, 13.125rem))[5];
  grid-template-columns: repeat(5, minmax(6.25rem, 13.125rem));
  gap: 1.875rem;
}
@media (max-width: 75em) {
  .howitworks__items {
    gap: 1.25rem;
  }
}
@media (max-width: 62em) {
  .howitworks__items {
    -ms-grid-columns: (minmax(12.5rem, 21.875rem))[3];
    grid-template-columns: repeat(3, minmax(12.5rem, 21.875rem));
  }
}
@media (max-width: 48em) {
  .howitworks__items {
    -ms-grid-columns: (minmax(12.5rem, 21.875rem))[2];
    grid-template-columns: repeat(2, minmax(12.5rem, 21.875rem));
    gap: 0.9375rem;
  }
}
@media (max-width: 31.25em) {
  .howitworks__items {
    -ms-grid-columns: minmax(12.5rem, 21.875rem);
    grid-template-columns: minmax(12.5rem, 21.875rem);
    gap: 2.1875rem;
  }
}
.howitworks__item {
  position: relative;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 7.75rem auto 1fr;
  grid-template-rows: 7.75rem auto 1fr;
}
@media (max-width: 48em) {
  .howitworks__item {
    -ms-grid-rows: 7.5rem auto 1fr;
    grid-template-rows: 7.5rem auto 1fr;
  }
}
@media (max-width: 31.25em) {
  .howitworks__item {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: 5rem 1fr;
    grid-template-columns: 5rem 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.howitworks__item:not(:last-child):after {
  content: "";
  top: 3.75rem;
  right: 0;
  position: absolute;
  width: 38%;
  height: 1px;
  background-color: var(--light-gray);
}
@media (max-width: 62em) {
  .howitworks__item:not(:last-child):after {
    display: none;
  }
}
.howitworks__item.active .howitworks__image {
  width: 6.25rem;
  height: 6.25rem;
  background: linear-gradient(25deg, #df87f1 0%, #219f70 100%);
}
@media (max-width: 48em) {
  .howitworks__item.active .howitworks__image {
    width: 5rem;
    height: 5rem;
  }
}
.howitworks__item.active .howitworks__image-icon {
  fill: #fff;
}
.howitworks__item.active .howitworks__item-text {
  opacity: 1;
}
.howitworks__item.active .howitworks__item-title {
  opacity: 1;
}
.howitworks__image {
  position: relative;
  margin-bottom: 1.5rem;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 6px;
  background: var(--background);
  -webkit-transition: background 0.3s linear, width 0.3s linear, height 0.3s linear;
  transition: background 0.3s linear, width 0.3s linear, height 0.3s linear;
}
@media (max-width: 48em) {
  .howitworks__image {
    margin-bottom: 1.25rem;
    width: 3.75rem;
    height: 3.75rem;
  }
}
@media (max-width: 31.25em) {
  .howitworks__image {
    margin-bottom: 0;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}
.howitworks__image-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--grey);
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}
@media (max-width: 48em) {
  .howitworks__image-icon {
    width: 1.875rem;
    height: 1.875rem;
  }
}
.howitworks__image-icon--1 {
  width: 3.625rem;
  height: 1.625rem;
}
@media (max-width: 48em) {
  .howitworks__image-icon--1 {
    width: 3rem;
    height: 1.25rem;
  }
}
.howitworks__item-title {
  margin-bottom: 0.9375rem;
  font-size: 1.125rem;
  font-weight: 800;
  color: var(--dark-grey);
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media (max-width: 48em) {
  .howitworks__item-title {
    font-size: 1rem;
  }
}
@media (max-width: 31.25em) {
  .howitworks__item-title {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}
.howitworks__item-text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 140%;
  color: var(--black);
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media (max-width: 62em) {
  .howitworks__item-text {
    font-size: 0.8125rem;
  }
}
@media (max-width: 31.25em) {
  .howitworks__item-text {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

.technology {
  position: relative;
}
.technology__body {
  padding: 2.375rem 0.9375rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 3.125rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(73deg, #219f70 0%, #1288aa 50%, #df87f1 100%);
  border-radius: 8px;
}
.technology__body::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  -webkit-box-shadow: 90px -50px 150px 50px #a1c665;
  box-shadow: 90px -50px 150px 50px #a1c665;
}
@media (max-width: 62em) {
  .technology__body {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media (max-width: 48em) {
  .technology__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}
.technology__content {
  margin-left: 3.75rem;
  position: relative;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1rem;
  color: var(--white);
}
@media (max-width: 62em) {
  .technology__content {
    margin-left: 0;
  }
}
.technology__logo {
  width: 1.8125rem;
  height: 2.5rem;
  fill: var(--white);
}
.technology__logo.loaded {
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  opacity: 1;
}
.technology__title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 110%;
  -webkit-transform: translate(0px, 1.875rem);
  -ms-transform: translate(0px, 1.875rem);
  transform: translate(0px, 1.875rem);
  opacity: 0;
  -webkit-transition: opacity 1.4s ease, -webkit-transform 1.4s ease;
  transition: opacity 1.4s ease, -webkit-transform 1.4s ease;
  transition: transform 1.4s ease, opacity 1.4s ease;
  transition: transform 1.4s ease, opacity 1.4s ease, -webkit-transform 1.4s ease;
}
.technology__title.loaded {
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  opacity: 1;
}
.technology__text {
  max-width: 22.625rem;
  font-size: 0.875rem;
  line-height: 140%;
  -webkit-transform: translate(0px, 1.875rem);
  -ms-transform: translate(0px, 1.875rem);
  transform: translate(0px, 1.875rem);
  opacity: 0;
}
.technology__text.loaded {
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  opacity: 1;
  -webkit-transition: opacity 1.6s ease 0.5s, -webkit-transform 1.6s ease 0.5s;
  transition: opacity 1.6s ease 0.5s, -webkit-transform 1.6s ease 0.5s;
  transition: transform 1.6s ease 0.5s, opacity 1.6s ease 0.5s;
  transition: transform 1.6s ease 0.5s, opacity 1.6s ease 0.5s, -webkit-transform 1.6s ease 0.5s;
}
.technology__action {
  width: 13.75rem;
  height: 3rem;
}
.technology__action.loaded {
  opacity: 1;
  -webkit-transition: opacity 1.7s ease 1s;
  transition: opacity 1.7s ease 1s;
}
@media (max-width: 31.25em) {
  .technology__action {
    width: 100%;
  }
}
.technology__image {
  margin-right: 7.25rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32.5%;
  flex: 0 0 32.5%;
}
.technology__image img {
  width: 100%;
}
@media (max-width: 62em) {
  .technology__image {
    margin-right: 0;
  }
}
@media (max-width: 48em) {
  .technology__image {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    max-width: 90%;
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 48em) {
  .products__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.item-products {
  cursor: pointer;
  position: relative;
  padding: 22.1875rem 2.5rem 2.5rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 6px;
  background-color: var(--background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 30.375rem;
  overflow: hidden;
  background-position: 2.5rem 2.25rem;
  background-repeat: no-repeat;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease, -webkit-box-flex 0.3s ease;
  transition: opacity 0.3s ease, -webkit-box-flex 0.3s ease;
  transition: flex 0.3s ease, opacity 0.3s ease;
  transition: flex 0.3s ease, opacity 0.3s ease, -webkit-box-flex 0.3s ease, -ms-flex 0.3s ease;
}
@media (max-width: 64em) {
  .item-products {
    padding: 19.6875rem 1.875rem 1.25rem;
    height: 29.125rem;
  }
}
@media (max-width: 48em) {
  .item-products {
    padding: 18.75rem 1.25rem 1.25rem;
    background-position: 1.25rem 1.25rem;
    opacity: 1;
    height: auto;
  }
}
.item-products.active {
  opacity: 1;
}
.item-products--1 {
  background-size: 18.25rem;
  background-image: url("../img/products/01.svg");
}
@media (max-width: 64em) {
  .item-products--1 {
    background-size: 15.75rem;
  }
}
.item-products--2 {
  background-size: 20.5rem;
  background-image: url("../img/products/02.svg");
}
@media (max-width: 64em) {
  .item-products--2 {
    background-size: 17.5rem;
  }
}
.item-products--3 {
  background-size: 26.25rem;
  background-image: url("../img/products/03.svg");
}
@media (max-width: 64em) {
  .item-products--3 {
    background-size: 23.75rem;
  }
}
.item-products__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}
.item-products__title {
  margin-bottom: 0.6875rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--black);
}
@media (max-width: 64em) {
  .item-products__title {
    font-size: 1.25rem;
  }
}
.active .item-products__title {
  font-weight: 800;
}
@media (max-width: 48em) {
  .item-products__title {
    font-weight: 800;
  }
}
.item-products__text {
  max-width: 75%;
  font-weight: 500;
  line-height: 140%;
  color: var(--black);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-2.5rem, 0);
  -ms-transform: translate(-2.5rem, 0);
  transform: translate(-2.5rem, 0);
  -webkit-transition: opacity 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s;
}
.active .item-products__text {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
@media (max-width: 48em) {
  .item-products__text {
    font-size: 0.875rem;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.item-products__link {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.active .item-products__link {
  pointer-events: auto;
  opacity: 1;
}
.item-products__link:focus-visible {
  outline: none;
}
.item-products__link:focus-visible .item-products__link-icon {
  outline: 2px solid var(--icon);
}
.item-products__link:active .item-products__link-icon {
  fill: var(--icon);
}
@media (max-width: 48em) {
  .item-products__link {
    pointer-events: auto;
    opacity: 1;
  }
}
.item-products__link-icon {
  position: absolute;
  bottom: 3.4375rem;
  right: 2.5rem;
  width: 2.5625rem;
  height: 1rem;
  fill: var(--pink);
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
@media (any-hover: hover) {
  .item-products__link-icon:hover {
    fill: var(--icon);
  }
}
@media (max-width: 64em) {
  .item-products__link-icon {
    bottom: 2.8125rem;
    right: 1.875rem;
  }
}
@media (max-width: 48em) {
  .item-products__link-icon {
    width: 2.1875rem;
    height: 0.875rem;
    bottom: 1.25rem;
    right: 1.25rem;
  }
}
.item-products.active {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
@media (max-width: 64em) {
  .item-products.active {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
}

.security__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12.5rem, 1fr))[4];
  grid-template-columns: repeat(4, minmax(12.5rem, 1fr));
  gap: 1.25rem;
}
@media (max-width: 62em) {
  .security__items {
    -ms-grid-columns: (minmax(12.5rem, 1fr))[2];
    grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
  }
}
@media (max-width: 31.25em) {
  .security__items {
    -ms-grid-columns: minmax(12.5rem, 1fr);
    grid-template-columns: minmax(12.5rem, 1fr);
  }
}
.security__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8.625rem 2.5rem auto;
  grid-template-rows: 8.625rem 2.5rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
}
.security__item.loaded {
  opacity: 1;
}
.security__item--1 {
  -webkit-transition: opacity 1.4s ease 0s;
  transition: opacity 1.4s ease 0s;
}
.security__item--2 {
  -webkit-transition: opacity 1.4s ease 0.2s;
  transition: opacity 1.4s ease 0.2s;
}
.security__item--3 {
  -webkit-transition: opacity 1.4s ease 0.4s;
  transition: opacity 1.4s ease 0.4s;
}
.security__item--4 {
  -webkit-transition: opacity 1.4s ease 0.6s;
  transition: opacity 1.4s ease 0.6s;
}
.security__image {
  height: 8.625rem;
}
.security__item-title {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 1.0625rem;
  color: var(--dark-grey);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.1;
}
@media (max-width: 48em) {
  .security__item-title {
    font-size: 1.125rem;
  }
}
.security__item-text {
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--grey);
}

.faq__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 19.375rem minmax(15.625rem, 48.25rem);
  grid-template-columns: 19.375rem minmax(15.625rem, 48.25rem);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 3.125rem;
}
@media (max-width: 64em) {
  .faq__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.spollers-faq__item {
  padding-right: 0.25rem;
  border-top: 1px solid #e4e9f0;
  background: #fff;
  overflow: hidden;
}
.spollers-faq__item:last-child {
  border-bottom: 1px solid #e4e9f0;
}

.spollers-faq__title {
  padding: 1.625rem 0rem 1.625rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  cursor: default;
  text-align: left;
  background: transparent;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 120%;
  color: var(--black);
}
@media (max-width: 48em) {
  .spollers-faq__title {
    padding: 1.25rem 0rem 1.25rem 0rem;
  }
}
._init .spollers-faq__title {
  cursor: pointer;
}
._init .spollers-faq__title._active .spollers-faq__icon {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  stroke: #fff;
}
._init .spollers-faq__title._active .spollers-faq__arrow {
  background: linear-gradient(10deg, #df87f1 0%, #219f70 100%);
}
.spollers-faq__title:focus-visible {
  outline: none;
}
.spollers-faq__title:focus-visible .spollers-faq__arrow {
  outline: 2px solid var(--icon);
}

.spollers-faq__arrow {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f1f4f7;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.spollers-faq__icon {
  stroke-width: 1.12px;
  stroke: var(--dark-grey);
  fill: transparent;
  width: 0.625rem;
  height: 0.5rem;
  -webkit-transition: fill 0.2s ease, -webkit-transform 0.2s ease;
  transition: fill 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, fill 0.2s ease;
  transition: transform 0.2s ease, fill 0.2s ease, -webkit-transform 0.2s ease;
}

.spollers-faq__body {
  padding: 0rem 3.875rem 1.625rem 0rem;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--grey);
}
@media (max-width: 48em) {
  .spollers-faq__body {
    padding: 0rem 3.875rem 1.25rem 0rem;
  }
}

.register {
  padding-bottom: 8.75rem;
}
@media (max-width: 64em) {
  .register {
    padding-bottom: 6.25rem;
  }
}
.register__body {
  padding: 3.4375rem 0.9375rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(73deg, #219f70 0%, #1288aa 50%, #df87f1 100%);
  border-radius: 8px;
}
.register__body::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  -webkit-box-shadow: 90px -50px 150px 50px #a1c665;
  box-shadow: 90px -50px 150px 50px #a1c665;
}
@media (max-width: 64em) {
  .register__body {
    padding: 2.5rem 0.9375rem;
    gap: 3rem;
  }
}
@media (max-width: 31.25em) {
  .register__body {
    padding: 1.875rem 0.9375rem;
    gap: 1.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.register__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 110%;
  color: var(--white);
  -webkit-transform: translate(0px, 1.875rem);
  -ms-transform: translate(0px, 1.875rem);
  transform: translate(0px, 1.875rem);
  opacity: 0;
  -webkit-transition: opacity 1.4s ease, -webkit-transform 1.4s ease;
  transition: opacity 1.4s ease, -webkit-transform 1.4s ease;
  transition: transform 1.4s ease, opacity 1.4s ease;
  transition: transform 1.4s ease, opacity 1.4s ease, -webkit-transform 1.4s ease;
}
@media (max-width: 48em) {
  .register__title {
    font-size: 1.75rem;
  }
}
.register__title.loaded {
  -webkit-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  opacity: 1;
}
.register__btn {
  width: 13.75rem;
  height: 3rem;
}
@media (max-width: 62em) {
  .register__btn {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 9.375rem;
  }
}
@media (max-width: 31.25em) {
  .register__btn {
    width: 100%;
  }
}

.footer {
  padding-top: 6.25rem;
  padding-bottom: 9.0625rem;
  border-top: 1px solid #eef2f6;
}
@media (max-width: 64em) {
  .footer {
    padding-top: 5rem;
    padding-bottom: 7.8125rem;
  }
}
@media (max-width: 48em) {
  .footer {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
.footer__body {
  margin-bottom: 0.9375rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(9.375rem, 12.5rem) minmax(35.625rem, 1fr) minmax(12.5rem, 15rem);
  grid-template-columns: minmax(9.375rem, 12.5rem) minmax(35.625rem, 1fr) minmax(12.5rem, 15rem);
  gap: 2.1875rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
@media (max-width: 88.75em) {
  .footer__body {
    margin-bottom: 2.5rem;
    -ms-grid-columns: auto minmax(12.5rem, 15rem);
    grid-template-columns: auto minmax(12.5rem, 15rem);
    gap: 3.125rem;
  }
}
@media (max-width: 64em) {
  .footer__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 48em) {
  .footer__body {
    gap: 1.875rem;
  }
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 88.75em) {
  .footer__info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
@media (max-width: 64em) {
  .footer__info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}
.footer__logo {
  margin-bottom: 2rem;
}
@media (max-width: 88.75em) {
  .footer__logo {
    margin-bottom: 1.25rem;
  }
}
.footer__text {
  font-size: 0.75rem;
  line-height: 150%;
}
.footer__banner {
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(10deg, #df87f1 0%, #219f70 100%);
  color: var(--white);
  line-height: 110%;
}
@media (max-width: 64em) {
  .footer__banner {
    width: 15rem;
  }
}
.footer__banner-logo {
  margin-bottom: 0.625rem;
  width: 0.9375rem;
  height: 1.3125rem;
  fill: var(--white);
}
.footer__banner-name {
  margin-bottom: 0.3125rem;
  font-weight: 700;
}
.footer__banner-text {
  line-height: 120%;
  font-size: 0.75rem;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem;
}
@media (max-width: 64em) {
  .footer__socials {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
}
@media (max-width: 31.25em) {
  .footer__socials {
    gap: 0.9375rem;
  }
}
.footer__socials-item:focus-visible {
  outline: 2px solid var(--icon);
}
.footer__socials-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--main-color);
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.footer__socials-icon:active {
  fill: var(--pink);
}
@media (any-hover: hover) {
  .footer__socials-icon:hover {
    fill: var(--pink);
  }
}
@media (max-width: 31.25em) {
  .footer__socials-icon {
    width: 1.875rem;
    height: 1.875rem;
  }
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1.875rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 64em) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.footer__copy {
  font-size: 0.75rem;
  line-height: 150%;
}

.menu-footer {
  -ms-grid-column-align: center;
  justify-self: center;
  display: -ms-grid;
  display: grid;
  gap: 4.375rem;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
@media (max-width: 88.75em) {
  .menu-footer {
    -ms-grid-column-align: start;
    justify-self: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}
@media (max-width: 48em) {
  .menu-footer {
    gap: 1.875rem;
  }
}
@media (max-width: 31.25em) {
  .menu-footer {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0.9375rem;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}
.menu-footer__column {
  color: var(--dark-grey);
}
.menu-footer__title {
  position: relative;
  margin-bottom: 1.0625rem;
  font-weight: 700;
}
@media (max-width: 31.25em) {
  .menu-footer__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.25rem;
  }
}
._init .menu-footer__title::after {
  content: "";
  background: url("../img/svg/arrow.svg") 0 0/cover no-repeat;
  width: 0.9375rem;
  height: 0.625rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
._init .menu-footer__title._active::after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.menu-footer__item {
  font-size: 0.8125rem;
  line-height: 120%;
}
.menu-footer__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (max-width: 31.25em) {
  .menu-footer__item {
    font-size: 1rem;
  }
}
.menu-footer__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.menu-footer__link:focus-visible {
  outline: 2px solid var(--icon);
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: var(--pink);
  }
}
/*# sourceMappingURL=main.css.map */